@font-face {
    font-family: "Newsreader";
    src: url("Newsreader-VariableFont_opsz,wght.ttf") format("truetype");
}
@font-face {
    font-family: "Newsreader 14pt Light";
    src: url("static/Newsreader_14pt-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Newsreader 14pt ExtraLight";
    src: url("static/Newsreader_14pt-ExtraLight.ttf") format("truetype");
}
@font-face {
    font-family: "Newsreader Italic";
    src: url("Newsreader-Italic-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans-Medium";
    src: url("OpenSans-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans-Light";
    src: url("OpenSans-Light.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Literata_18pt-Bold";
    src: url("static/Literata_18pt-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Literata_18pt-Light";
    src: url("static/Literata_18pt-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Literata_18pt-Regular";
    src: url("static/Literata_18pt-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "JosefinSlab-Bold";
    src: url("static/JosefinSlab-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "JosefinSlab-BoldItalic";
    src: url("static/JosefinSlab-BoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: "JosefinSlab-Italic";
    src: url("static/JosefinSlab-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "JosefinSlab-Light";
    src: url("static/JosefinSlab-Light.ttf") format("truetype");
}
@font-face {
    font-family: "JosefinSlab-LightItalic";
    src: url("static/JosefinSlab-LightItalic.ttf") format("truetype");
}
@font-face {
    font-family: "JosefinSlab-Medium";
    src: url("static/JosefinSlab-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "JosefinSlab-MediumItalic";
    src: url("static/JosefinSlab-MediumItalic.ttf") format("truetype");
}
@font-face {
    font-family: "JosefinSlab-Regular";
    src: url("static/JosefinSlab-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Rokkitt-Bold";
    src: url("static/Rokkitt-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Rokkitt-BoldItalic";
    src: url("static/Rokkitt-BoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Rokkitt-Italic";
    src: url("static/Rokkitt-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Rokkitt-Light";
    src: url("static/Rokkitt-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Rokkitt-LightItalic";
    src: url("static/Rokkitt-LightItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Rokkitt-Regular";
    src: url("static/Rokkitt-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Rokkitt-Thin";
    src: url("static/Rokkitt-Thin.ttf") format("truetype");
}
@font-face {
    font-family: "Rokkitt-ThinItalic";
    src: url("static/Rokkitt-ThinItalic.ttf") format("truetype");
}

body {
    background: rgb(220, 220, 220);
    /* font-family: "Zen Maru Gothic Regular"; */
    font-family: "OpenSans-Light";
    font-size: 12pt;
}

.nav-text a, .nav-text a:link, .nav-text a:active, .nav-text a:visited {
    font-family: "OpenSans-Light";
    font-size: 18px;
}
.img-hover-highlight:hover {
    filter: brightness(120%);
}

.card-link-style .card-grid-link-indicator-bg {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 50%;
    width:50px;
    height:50px;
    background-color: rgb(220, 220, 220);
}

.card-link-style .card-grid-link-indicator-middle-bg {
    position: absolute;
    top: 50%;
    margin-top: -19px;
    margin-left: 6px;
    border-radius: 50%;
    width:38px;
    height:38px;
    background-color: rgb(220, 220, 220);
}
.card-link-style:hover .card-grid-link-indicator-middle-bg {
    background-color: rgb(190, 190, 190);
}

.card-link-style .card-grid-link-indicator-fg {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    margin-left: 6px;
    border-radius: 50%;
    width:26px;
    height:26px;
    background-color: rgb(240, 240, 240);
}
.card-link-style:hover .card-grid-link-indicator-fg {
    background-color: rgb(240, 240, 240);
}
/*
.card-link-style .card-link-indicator-fg {
    position: absolute;
    width: 10px;
    height: 90%;
    top: 5%;
    left: -5px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0px 5px 5px 0px;
}
.card-link-style:hover .card-link-indicator-fg {
    background-color: #000;
    border: 1px solid rgb(220, 220, 220);
}
*/
/*
.card-link-style .card-link-indicator-fg {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    left: -15px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 15px 15px 15px 15px;
}
.card-link-style:hover .card-link-indicator-fg {
    background-color: #000;
    border: 3px solid rgb(220, 220, 220);
}
*/
.card-link-style .card-link-indicator-fg {
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0);
}
.card-link-style:hover .card-link-indicator-fg {
    backdrop-filter: invert(70%);
}
.post-cover-title h1{
    font-family: "OpenSans-SemiBold";
    position: relative;
    top: -125px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    color: #DDD;
}
.post-cover-title h5 {
    font-family: "OpenSans-Medium";
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.post_stl h1 {
    font-family: "Rokkitt-Bold";
    font-size: 22pt;
    color: #434343;
    margin-top: 40px;
    margin-bottom: 15px;
}
.post_stl h2 {
    font-family: "Rokkitt-Bold";
    font-size: 20pt;
    color: #434343;
    margin-top: 40px;
    margin-bottom: 15px;
}
.post_stl h3 {
    font-family: "Rokkitt-Bold";
    font-size: 20pt;
    color: #434343;
    margin-top: 40px;
    margin-bottom: 15px;
}
.post_stl h4 {
    font-family: "Rokkitt-Bold";
    font-size: 18pt;
    color: #434343;
    margin-top: 40px;
    margin-bottom: 15px;
}
.post_stl h5 {
    font-family: "Rokkitt-Bold";
    font-size: 16pt;
    color: #434343;
    margin-top: 40px;
    margin-bottom: 15px;
}
.post_stl h6, .post_stl h7, .post_stl h8, .post_stl h9 {
    font-family: "Rokkitt-Bold";
    font-size: 14pt;
    color: #434343;
    margin-top: 40px;
    margin-bottom: 15px;
}
.post_stl p {
    font-family: "Rokkitt-Light";
    font-size: 16pt;
    color: #222;
}
.post_stl img {
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    mix-blend-mode: multiply;
}

.tag-category a, .tag-category a:link, .tag-category a:active, .tag-category a:visited {
    color: #111111;
    background: #858585;
    border-radius: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-decoration: none;
    padding-bottom: 3px;
}
.tag-category a:hover {
    color: #CCCCCC;
    background: #252525;
}

.tag-search {
    color: #111111;
    background: #858585;
    border-radius: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-decoration: none;
}

a.stylelink, a.stylelink:link, a.stylelink:active, a.stylelink:visited {
    text-decoration: none;
    /* text-decoration-color: rgba(31, 92, 171, 0.4); */
    padding: 0px 2px 0px 2px;
    color: #1d5aa3;
    box-shadow: inset 0 -1px 0 -1px #194C8B;
    border-radius: 3px;
    /*box-shadow: inset 0 -3px 0 -1px black;*/
    transition: box-shadow .15s ease-in-out;
}
a.stylelink:hover {
    text-decoration: none;
    color: white;
    box-shadow: inset 0 -40px 0 -1px #194C8B;
}
a.ref_plus_button, a.ref_plus_button:link, a.ref_plus_button:active, a.ref_plus_button:visited {
    text-decoration: none;
    text-decoration-color: rgba(44, 109, 188, 1.0);
    color: #2c6dbc;
}
a.ref_plus_button:hover {
    text-decoration: none;
    color: #3482dc;
}
.inverted-style-link a, .inverted-style-link a:link, .inverted-style-link a:active, .inverted-style-link a:visited {
    text-decoration: none;
    padding: 1px 2px 1px 2px;
    color: white;
    box-shadow: inset 0 -3px 0 -1px white;
    transition: box-shadow .15s ease-in-out;
}
.inverted-style-link a:hover {
    color: black;
    box-shadow: inset 0 -40px 0 -1px white;
}

details summary {
  list-style: none; /* remove marcador em alguns navegadores */
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 0px;
}
details summary p {
  padding: 0px;
  margin: 0px;
}

details summary::-webkit-details-marker {
  display: none; /* remove seta no Chrome/Safari */
}

details summary::before {
  content: "➤";  /* ▶ seta fechada */
  display: inline-block;
  margin-right: 8px;
  transition: transform 0.2s;
  color: #888;
}

details[open] summary::before {
  transform: rotate(90deg); /* seta gira quando abre */
}
details {
  border: 1px solid #EEE;
  border-radius: 8px;
  padding: .5rem 1rem;
  padding-bottom: .1rem;
  margin-bottom: .5rem;
  background: #EEE;
  color: #434343;
}

details[open] {
  background: #EEE;
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.1); */
}

/* Cria um "tema read" usando variáveis */
[data-bs-theme="read"] {
  --bs-body-bg: #DEDEDE;          /* fundo do body dcdcdc */
  --bs-body-color: #434343;       /* cor do texto */
  
  /* Fundo e cores do modal */
  --bs-modal-bg: #DEDEDE;         
  --bs-modal-color: #434343;
  --bs-modal-border-color: #dcdcdc;

  /* Botões e etc (se precisar ajustar) */
  --bs-btn-bg: #e0e0d0;
  --bs-btn-color: #000;
  --bs-btn-hover-bg: #d0d0c0;
}

.btn-danger {
  background-color: #711830;
  border-color: #711830;
}

.btn-danger:hover {
  background-color: #861d39;
  border-color: #861d39;
}

.btn-outline-danger {
  background-color: rgba(0, 0, 0, 0.0);
  border-color: rgba(0, 0, 0, 0.0);
  color: rgba(147, 31, 64, 1.0);
}

.btn-outline-danger:hover {
  background-color: rgba(113, 24, 48, 0.8);
  border-color: rgba(0, 0, 0, 0.0);
  color: rgba(255, 255, 255, 0.8);
}
