@font-face {
    font-family: "Newsreader";
    src: url("Newsreader-VariableFont_opsz,wght.ttf") format("truetype");
}
@font-face {
    font-family: "Newsreader 14pt Light";
    src: url("static/Newsreader_14pt-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Newsreader Italic";
    src: url("Newsreader-Italic-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans-Medium";
    src: url("OpenSans-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans-Light";
    src: url("OpenSans-Light.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("OpenSans-SemiBold.ttf") format("truetype");
}

body {
    background: rgb(220, 220, 220);
    /* font-family: "Zen Maru Gothic Regular"; */
    font-family: "OpenSans-Light";
    font-size: 12pt;
}

.nav-text a, .nav-text a:link, .nav-text a:active, .nav-text a:visited {
    font-family: "OpenSans-Light";
    font-size: 18px;
}
.img-hover-highlight:hover {
    filter: brightness(120%);
}

.card-link-style .card-grid-link-indicator-bg {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 50%;
    width:50px;
    height:50px;
    background-color: rgb(220, 220, 220);
}

.card-link-style .card-grid-link-indicator-middle-bg {
    position: absolute;
    top: 50%;
    margin-top: -19px;
    margin-left: 6px;
    border-radius: 50%;
    width:38px;
    height:38px;
    background-color: rgb(220, 220, 220);
}
.card-link-style:hover .card-grid-link-indicator-middle-bg {
    background-color: rgb(190, 190, 190);
}

.card-link-style .card-grid-link-indicator-fg {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    margin-left: 6px;
    border-radius: 50%;
    width:26px;
    height:26px;
    background-color: rgb(240, 240, 240);
}
.card-link-style:hover .card-grid-link-indicator-fg {
    background-color: rgb(240, 240, 240);
}
/*
.card-link-style .card-link-indicator-fg {
    position: absolute;
    width: 10px;
    height: 90%;
    top: 5%;
    left: -5px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0px 5px 5px 0px;
}
.card-link-style:hover .card-link-indicator-fg {
    background-color: #000;
    border: 1px solid rgb(220, 220, 220);
}
*/
/*
.card-link-style .card-link-indicator-fg {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    left: -15px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 15px 15px 15px 15px;
}
.card-link-style:hover .card-link-indicator-fg {
    background-color: #000;
    border: 3px solid rgb(220, 220, 220);
}
*/
.card-link-style .card-link-indicator-fg {
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0);
}
.card-link-style:hover .card-link-indicator-fg {
    backdrop-filter: invert(70%);
}
.post-cover-title h1{
    font-family: "OpenSans-SemiBold";
    position: relative;
    top: -125px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    color: #DDD;
}
.post-cover-title h5 {
    font-family: "OpenSans-Medium";
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.post_stl h1 {
    font-family: "Newsreader 14pt Light";
    font-size: 22pt;
    color: #434343;
}
.post_stl h2 {
    font-family: "Newsreader 14pt Light";
    font-size: 20pt;
    color: #434343;
}
.post_stl h3 {
    font-family: "Newsreader 14pt Light";
    font-size: 20pt;
    color: #434343;
}
.post_stl h4 {
    font-family: "Newsreader 14pt Light";
    font-size: 18pt;
    color: #434343;
}
.post_stl h5 {
    font-family: "Newsreader 14pt Light";
    font-size: 16pt;
    color: #434343;
}
.post_stl h6 {
    font-family: "Newsreader 14pt Light";
    font-size: 14pt;
    color: #434343;
}
.post_stl p {
    font-family: "Newsreader 14pt Light";
    font-size: 12pt;
}
.post_stl img {
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    mix-blend-mode: multiply;
}

.tag-category a, .tag-category a:link, .tag-category a:active, .tag-category a:visited {
    color: #111111;
    background: #858585;
    border-radius: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-decoration: none;
    padding-bottom: 3px;
}
.tag-category a:hover {
    color: #CCCCCC;
    background: #252525;
}

.tag-search {
    color: #111111;
    background: #858585;
    border-radius: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-decoration: none;
}

.style-link a, .style-link a:link, .style-link a:active, .style-link a:visited {
    text-decoration: none;
    padding: 1px 2px 1px 2px;
    color: black;
    box-shadow: inset 0 -3px 0 -1px black;
    transition: box-shadow .15s ease-in-out;
}
.style-link a:hover {
    color: white;
    box-shadow: inset 0 -40px 0 -1px black;
}

.inverted-style-link a, .inverted-style-link a:link, .inverted-style-link a:active, .inverted-style-link a:visited {
    text-decoration: none;
    padding: 1px 2px 1px 2px;
    color: white;
    box-shadow: inset 0 -3px 0 -1px white;
    transition: box-shadow .15s ease-in-out;
}
.inverted-style-link a:hover {
    color: black;
    box-shadow: inset 0 -40px 0 -1px white;
}
