{% load replace %}
<div class="modal fade" data-bs-theme="dark" id="subNavItem{{ sub_nav_item.id }}DisplayModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="subNavItem{{ sub_nav_item.id }}DisplayModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-light">

        <button class="btn btn-outline-light btn-sm border" data-bs-target="#sub{{ sub_nav_item.id }}" data-bs-toggle="modal">
          {{ icon.arrow_left|safe }} &nbsp;Back
        </button>

        <form action="{% url 'category' cookie_language path %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="mx-2 my-0 mt-1">
        {% if sub_nav_item.code == 'item' %}

        <p class="text-light text-opacity-50 p-0 m-0 mb-2">
        <small><small>
        The <u><b>ID</b></u> <span class="bg-light bg-opacity-10 rounded-1">&nbsp;item&nbsp;</span> is reserved and not visible to the user.
        Rename it!
        </small></small>
        </p>
        {% else %}

        <p>
        {% if sub_nav_item.display %}
         {{ icon.visible|safe }}
        {% else %}
         {{ icon.hidden|safe }}
        {% endif %}
        Visibility<small class="text-light text-opacity-50"><small>&nbsp;({{ sub_nav_item.code }})</small></small>
        </p>

        <div class="text-light text-opacity-75 my-0 py-0">
        {% if sub_nav_item.display %}
        <p class="my-0 py-0"><small>This item is visible to the user!</small></p>
        <p class="m-0 p-0"><small>Confirm to hide</small></p>
        {% else %}
        <p class="my-0 py-0"><small>This item is not visible to the user!</small></p>
        <p class="m-0 p-0"><small>Confirm to make visible</small></p>
        {% endif %}
        </div>

        {% endif %}
        </div>

        <div class="d-grid gap-2 d-flex justify-content-end mt-3">
        <button type="button" class="btn btn-outline-danger btn-sm border border-0" data-bs-dismiss="modal" aria-label="Close">
          {{ icon.close|safe }}
        </button>
        {% if sub_nav_item.code != 'item' %}
        <input type="hidden" name="nav-item-id" value="{{ sub_nav_item.id }}">
        <input type="hidden" name="nav-item-display-modal">
        <button type="submit" name="{% if sub_nav_item.display %}is-display{% else %}is-not-display{% endif %}" class="btn btn-outline-light btn-sm border border-0" data-bs-target="#deleteModal2" data-bs-toggle="modal">
          {{ icon.ok|safe }}
        </button>
        {% endif %}
        </div>

        </form>

      </div>
    </div>
  </div>
</div>