{% load split %}
<div class="modal fade text-light" data-bs-theme="dark" id="sub{{ sub_nav_item.id }}" data-bs-backdrop="static" tabindex="-1" aria-labelledby="sub{{ sub_nav_item.id }}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">

        {% if sub_nav_item.code == 'item' %}
        <p class="text-center m-0 mb-2 p-0">
          <span class="btn-group m-0 p-0 border border-1 border-light border-opacity-10 rounded-2" role="group" aria-label="Category edit remove">
          {% include 'sub_nav_tools/delete.html'%}
          </span>
        </p>
        {% else %}
        <p class="text-center m-0 mb-2 p-0">
          <span class="btn-group m-0 p-0 border border-1 border-light border-opacity-10 rounded-2" role="group" aria-label="Category edit visibility">
          {% include 'sub_nav_tools/display.html'%}
          </span>
          <span class="btn-group m-0 p-0 border border-1 border-light border-opacity-10 rounded-2" role="group" aria-label="Category edition">
            {% include 'sub_nav_tools/image.html'%}
          </span>
          <span class="btn-group m-0 p-0 border border-1 border-light border-opacity-10 rounded-2" role="group" aria-label="Category edit remove">
          {% include 'sub_nav_tools/delete.html'%}
          </span>
        </p>
        {% endif %}

        {% if sub_nav_item.code == 'item' %}
        <p class="bg-warning bg-opacity-50 border border-warning border-opacity-75 rounded-1 p-0 px-1 m-0 mb-2">
        <small><small>
        The <span class="bg-dark bg-opacity-50 rounded-1">&nbsp;item&nbsp;</span> <u><b>ID</b></u> is reserved and not visible to the user.
        Rename it!
        </small></small>
        </p>
        {% endif %}

        {% if sub_nav_item.warning_id_exists %}
        <div class="bg-warning bg-opacity-50 border border-warning border-opacity-75 rounded-1 p-0 px-1 m-0">
          <small><small>
          The <u><b>ID</b></u> provided already existed and was therefore not updated!
          </small></small>
        </div>
        {% endif %}

        <form action="{% url 'category' cookie_language path %}" method="post" enctype="multipart/form-data">{% csrf_token %}

          <div class="text-light">

            <div class="row g-0 m-0 p-0">

              <div class="col m-0 p-0 me-2">
                <label class="m-0 p-0"><small>ID<small class="text-light text-opacity-50"><small> (URL and category)</small></small></small></label>
                <input type="text" class="form-control form-control-sm" id="nav-item-url-id" name="nav-item-url-id" value="{{ sub_nav_item.code }}">
                <p class="p-0 m-0 mb-2 text-light text-opacity-50">
                  <small class="p-0 m-0"><small>Only letters and -</small></small>
                </p>
              </div>

              {% if not nav_item.parent %}
              <div class="col m-0 p-0 ms-2">
                <label class="m-0 p-0"><small>Position index<small class="text-light text-opacity-50"></small></small></label>
                <input type="number" class="form-control form-control-sm" id="nav-item-index" name="nav-item-index" value="{{ sub_nav_item.index }}">
                <p class="p-0 m-0 mb-2 text-light text-opacity-50"><small class="p-0 m-0"><small>&nbsp;</small></small></p>
              </div>
              {% endif %}
            </div>

            <div class="row g-0 m-0 p-0">
              <div class="col m-0 p-0 pe-1">
                <small><small>
                <span class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="" name="nav-item-display-text" id="nav-item-display-text-{{ sub_nav_item.id }}" {% if sub_nav_item.display_text %}checked{% endif %}>
                  <label class="form-check-label text-light text-opacity-75" for="nav-item-display-text-{{ sub_nav_item.id }}">Display text</label>
                </span>
                </small></small><br>

                {% for nav_item_string in nav_items_strings %}
                {% if nav_item_string.code == sub_nav_item.code %}
                <label for="{{ nav_item_string.lang }}" class="m-0 p-0 {% if not nav_item_string.text %}text-danger{% endif %}">
                  <small>
                    {{ nav_item_string.lang }}&nbsp;
                    {% if nav_item_string.lang == cookie_language %}<small class="text-light text-opacity-50">*</small>{% endif %}
                  </small>
                </label>
                <input type="text" class="form-control form-control-sm mb-2" id="{{ nav_item_string.lang }}" name="{{ nav_item_string.lang }}" value="{{ nav_item_string.text }}">
                {% endif %}
                {% endfor %}
              </div>
            </div>

          <br>
          </div>

          <div class="d-grid gap-2 d-flex justify-content-end">

          <button type="button" class="btn btn-outline-danger btn-sm border border-0" data-bs-dismiss="modal" aria-label="Close">
            {{ icon.close|safe }}
          </button>

          <input type="hidden" name="nav-item-id" value="{{ sub_nav_item.id }}">
          <input type="hidden" name="nav-item-main-edit-modal">
          <button type="submit" class="btn btn-outline-light btn-sm border border-0">
            {{ icon.ok|safe }}
          </button>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% include 'sub_nav_tools/display_modal.html'%}
{% include 'sub_nav_tools/image_modal.html'%}
{% include 'sub_nav_tools/delete_modal.html'%}
