{% load replace %}
{% load split %}
<div class="modal fade" data-bs-theme="dark" id="editCategoryModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <form action="{% url 'post' cookie_language post.url %}" method="post" enctype="multipart/form-data">{% csrf_token %}

            <div class="text-light">
            <label class="mb-2">Categories</label>
            <p>
              <small><small>
              <span class="bg-secondary bg-opacity-25 rounded-2">&nbsp;home&nbsp;</span> indicates that the post will be displayed on the website's home page.<br>
              </small></small>
            </p>
            <p>
              <small><small>
              <span class="bg-secondary bg-opacity-25 rounded-2">&nbsp;home-highlight&nbsp;</span> indicates that the post will be displayed prominently on the site's home page.
              </small></small>
            </p>
            </div>

            <div class="text-light">
            {% for category in categories %}
            {% if category.code in post.categories|split:"," %}
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" value="" name="{{ category.code }}" id="{{ category.code }}0" checked>
              <label class="form-check-label" for="{{ category.code }}0">
                {{ category.code }}
              </label>
            </div>
            {% else %}
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" value="" name="{{ category.code }}" id="{{ category.code }}1">
              <label class="form-check-label" for="{{ category.code }}1">
                {{ category.code }}
              </label>
            </div>
            {% endif %}
            {% endfor %}
            </div>


            <div class="d-grid gap-2 d-flex justify-content-end">

            <button type="button" class="btn btn-outline-danger btn-sm border border-0" data-bs-dismiss="modal" aria-label="Close">
              {{ icon.close|safe }}
            </button>

            <input type="hidden" name="id" value="{{ post.id }}">
            <input type="hidden" name="categories">
            <button type="submit" class="btn btn-outline-light btn-sm border border-0">
              {{ icon.ok|safe }}
            </button>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
