
<form action="{% url 'post' cookie_language post.url %}" method="post" enctype="multipart/form-data">{% csrf_token %}
<div class="modal fade text-light" data-bs-theme="dark" id="editContentModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editContentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-scrollable">
    <div class="modal-content">

      <div class="modal-body">
        <span class="ms-1 m-0 p-0 text-light text-opacity-50"><small>Choose 'html' content file</small></span>
        <div class="input-group">
          <input type="file" class="form-control" id="content_file" name="content_file">
        </div>

        <div class="d-grid gap-2 d-flex justify-content-end mt-3">
          <button type="button" class="btn btn-outline-danger btn-sm border border-0" data-bs-dismiss="modal" aria-label="Close">
            {{ icon.close|safe }}
          </button>
          <input type="hidden" name="id" value="{{ post.id }}">
          <button type="submit" class="btn btn-outline-light btn-sm border border-0">
            {{ icon.ok|safe }}
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
</form>
