{% load replace %}
<div class="modal fade" data-bs-theme="dark" id="publishedModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="publishedModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body text-light">
        <form action="{% url 'post' cookie_language post.url %}" method="post" enctype="multipart/form-data">{% csrf_token %}

        {% if post.display %}
        <p class="text-light my-0 py-0">
          {{ icon.visible|safe }}&nbsp;&nbsp;It is currently published!
        </p>
        <p class="mt-4">Confirm to hide the post from the public</p>
        {% else %}
        {% if post.url != 'new' %}
        <p class="text-light my-0 py-0">
          {{ icon.hidden|safe }}&nbsp;&nbsp;It is currently unpublished!
        </p>
        <p class="mt-4">Confirm to make the post visible to the public</p>
        {% else %}
          <p>
            {{ icon.warning|replace:'class="|class="mb-1 '|safe }}&nbsp;&nbsp;Rename the title to save the content as a valid post.
          </p>
        {% endif %}
        {% endif %}

        <div class="d-grid gap-2 d-flex justify-content-end mt-3">
        <button type="button" class="btn btn-outline-danger btn-sm border border-0" data-bs-dismiss="modal" aria-label="Close">
          {{ icon.close|safe }}
        </button>
        {% if post.url != 'new' %}
        <input type="hidden" name="id" value="{{ post.id }}">
        <button type="submit" name="{% if post.display %}is-published{% else %}is-not-published{% endif %}" class="btn btn-outline-light btn-sm border border-0" data-bs-target="#deleteModal2" data-bs-toggle="modal">
          {{ icon.ok|safe }}
        </button>
        {% endif %}
        </div>

        </form>
      </div>

    </div>
  </div>
</div>
