{% load replace %}

<div class="modal fade" data-bs-theme="dark" id="editTagsModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editTagsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <form action="{% url 'post' cookie_language post.url %}" method="post" enctype="multipart/form-data">{% csrf_token %}

            <div class="text-light">
            <label for="tags" class="mb-2">Tags</label>
            <p class="my-0 py-0"><small>Separate the tags with commas!<br><sup class="opacity-50">(tag 1, tag 2, tag 3)</sup></small></p>
            </div>
            <div class="mb-3 mt-1">
              <input type="text" class="form-control" id="tags" name="tags" value="{{ post.tags|replace:',|, ' }}">
            </div>

            <div class="d-grid gap-2 d-flex justify-content-end">
            <button type="button" class="btn btn-outline-danger btn-sm border border-0" data-bs-dismiss="modal" aria-label="Close">
              {{ icon.close|safe }}
            </button>

            <input type="hidden" name="id" value="{{ post.id }}">
            <button type="submit" class="btn btn-outline-light btn-sm border border-0">
              {{ icon.ok|safe }}
            </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
