
  <!-- Lang/Translate modal 1 -->
  <div class="modal fade text-light" data-bs-theme="dark" id="langModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="langModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">

          {% if post.url != 'new' %}
          <button class="btn btn-outline-light btn-sm border mb-2" data-bs-target="#newLangModal2" data-bs-toggle="modal">
            {{ icon.plus|safe }} &nbsp;Add new
          </button>
          {% else %}
          <small>Current title is invalid, please rename it to translate</small>
          {% endif %}

          <form class="needs-validation" action="{% url 'post' cookie_language post.url %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="ms-2 mt-3">

            {% for lang in languages %}
            {% if lang.code in post_languages %}
              <div class="form-check border-bottom border-secondary border-opacity-10 mb-4 me-2">
                <div class="d-flex justify-content-between">
                  <div>
                    <input class="form-check-input" type="radio" name="radio-lang" id="{{ lang.code }}{{ post.id }}" value="{{ lang.code }}" {% if post.lang == lang.code %}checked{% endif %}>
                    <label class="form-check-label" for="{{ lang.code }}{{ post.id }}">
                      {{ lang.code }}: &nbsp;<span>{{ lang.native_name }}</span> <small class="opacity-50">({{ lang.english_name }})</small>
                    </label><br>
                    {% for key, value in post_languages.items %}
                    {% if key == lang.code %}
                    <sup class="opacity-25">{{ value.1 }}</sup>
                    {% endif %}
                    {% endfor %}
                  </div>

                  <div>
                  {% for key, value in post_languages.items %}
                    {% if key == lang.code %}

                      {% if value.0 %}
                        {{ icon.visible|safe }}
                      {% else %}
                        {{ icon.hidden|safe }}
                      {% endif %}

                    {% endif %}
                  {% endfor %}

                  {% if lang.code not in post_languages %}
                    {{ icon.close|safe }}
                  {% endif %}
                  </div>

                </div>
              </div>
            {% endif %}
            {% endfor %}
            </div>

            <div class="d-grid gap-2 d-flex justify-content-end mt-3">
            <button type="button" class="btn btn-outline-danger btn-sm border border-0" data-bs-dismiss="modal" aria-label="Close">
              {{ icon.close|safe }}
            </button>

            <input type="hidden" name="id" value="{{ post.id }}">
            <button type="submit" class="btn btn-outline-light btn-sm border border-0">
              {{ icon.ok|safe }}
            </button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div> <!-- Lang/Translate modal 1 end -->

  <!-- Lang/Translate modal 2 -->
  <div class="modal fade text-light" data-bs-theme="dark" id="newLangModal2" data-bs-backdrop="static" tabindex="-1" aria-labelledby="newLangModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body">

          <button class="btn btn-outline-light btn-sm border" data-bs-target="#langModal" data-bs-toggle="modal">
            {{ icon.arrow_left|safe }} &nbsp;Back
          </button>

          <form class="needs-validation" action="{% url 'post' cookie_language post.url %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="mt-2">

              {% for lang in languages %}
              {% if lang.code not in post_languages %}
              <div class="mb-2 mx-2">
                <input class="form-check-input" type="radio" name="radio-lang" id="{{ lang.code }}1" value="{{ lang.code }}">
                <label class="form-check-label" for="{{ lang.code }}1">
                  &nbsp;{{ lang.code }}: &nbsp;<span>{{ lang.native_name }}</span> <small class="opacity-50">({{ lang.english_name }})</small>
                </label>
              </div>
              {% endif %}
              {% endfor %}

              {% if post_languages|length != languages|length %}
              <div class="my-0 ms-1 me-2 ps-1 py-1 border border-secondary border-opacity-10 rounded-top-2">
                <input class="form-check-input collapsed" type="radio" name="radio-lang" id="new-radio-lang" value="new-radio-lang" checked>
                <label class="form-check-label" for="new-radio-lang">&nbsp;New</label>
              </div>
              {% endif %}

              <div class="ms-1 me-2 my-0 ps-1 pt-1 pb-3 {% if post_languages|length != languages|length %}border border-secondary border-opacity-10 rounded-bottom-2 border-top-0{% endif %}">

                <div class="my-0 py-0 mx-4">
                <label for="new-lang-native-name" class="form-label my-0 py-0">
                  <small>
                  Native name:<br><sup class="opacity-50 my-0 py-0">Português, Español, 日本語 . . .</sup>
                  </small>
                </label>
                <input type="text" class="form-control my-0 py-0" id="new-lang-native-name" name="new-lang-native-name">
                <div class="invalid-feedback">
                  Please provide a native name
                </div>
              </div>

              <div class="mb-0 mt-2 py-0 mx-4">
                <label for="new-lang-english-name" class="form-label my-0 py-0">
                  <small>
                  English name:<br><sup class="opacity-50 my-0 py-0">Portuguese, Spanish, Japanese . . .</sup>
                  </small>
                </label>
                <input type="text" class="form-control my-0 py-0" id="new-lang-english-name" name="new-lang-english-name">
                <div class="invalid-feedback">
                  Please provide the english name
                </div>
              </div>

              <div class="mb-0 mt-2 py-0 mx-4">
                <label for="new-lang-code" class="form-label my-0 py-0">
                  <small>
                  Lang code:<br><sup class="opacity-50 my-0 py-0">pt-br, &nbsp; es, &nbsp; ja&nbsp;. . .</sup>
                  </small>
                </label>
                <input type="text" class="form-control my-0 py-0" id="new-lang-code" name="new-lang-code">
                <div class="invalid-feedback">
                  Please provide the lang code
                </div>
              </div>

              </div>

            </div>

            <div class="d-grid gap-2 d-flex justify-content-end mt-2">
              <button type="button" class="btn btn-outline-danger btn-sm border border-0" data-bs-dismiss="modal" aria-label="Close">
                {{ icon.close|safe }}
              </button>

              <input type="hidden" name="id" value="{{ post.id }}">
              <button type="submit" class="btn btn-outline-light btn-sm border border-0">
                {{ icon.ok|safe }}
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- Lang/Translate modal 2 end -->