{% load static %}
{% load replace %}
{% load split %}
{% load dict_key %}
<header>
<div class="d-print-none m-0 p-0" style="background-color:{{ style.nav_top_bg }};">
  <nav class="navbar m-0 p-0 text-light">

    <div class="m-0 p-0 mt-1 ms-3 me-4 align-middle">
      {% if settings.display_logo %}
      <a class="text-decoration-none img-hover-highlight m-0 p-0" href="{% url 'index' cookie_language %}">
        <img src="{{ settings.logo.url }}" width="30" height="30" class="d-inline-block">
      </a>
      {% endif %}
      {% if settings.display_brand %}
      <a class="text-decoration-none img-hover-highlight m-0 p-0" href="{% url 'index' cookie_language %}">
        <img src="{{ settings.brand.url }}" width="100" height="30" class="d-inline-block">
      </a>
      {% endif %}
      {% if settings.display_name %}
      <a class="text-decoration-none text-light m-0 p-0" href="{% url 'index' cookie_language %}">
      {{ settings.name }}
      </a>
      {% endif %}
    </div>

    <div>&nbsp;</div>

    <!-- Search -->
    <div>
      <a type="button" class="text-decoration-none" style="color:{{ style.nav_top_fg }};" onMouseOver="this.style.color='{{ style.nav_top_fg_hover }}'" onMouseOut="this.style.color='{{ style.nav_top_fg }}'" data-bs-toggle="modal" data-bs-target="#searchModal">
        {{ icon.search|safe }}
      </a>

      <div class="modal fade text-light" data-bs-theme="dark" id="searchModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-body">
              <form action="{% url 'search' cookie_language '#' %}" method="post" enctype="multipart/form-data">{% csrf_token %}

                <div class="mb-3 mt-4">
                  <label for="typed_search">Search</label>
                  <input type="text" class="form-control" id="typed_search" name="typed_search">
                </div>

                <div class="d-grid gap-2 d-flex justify-content-end">
                <button type="button" class="btn btn-outline-danger btn-sm border border-0" data-bs-dismiss="modal" aria-label="Close">
                  {{ icon.close|safe }}
                </button>

                <button type="submit" class="btn btn-outline-light btn-sm border border-0">
                  {{ icon.search|safe }}
                </button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div> <!-- modal end -->

      <!-- Dark mode -->
      <a class="ms-3 text-decoration-none" style="color:{{ style.nav_top_fg }};" onMouseOver="this.style.color='{{ style.nav_top_fg_hover }}'" onMouseOut="this.style.color='{{ style.nav_top_fg }}'" type="button" data-bs-toggle="modal" data-bs-target="#darkModeModal">
        {{ icon.circle_half|safe }}
      </a>
      <!-- Dark mode modal -->
      <div class="modal fade text-light" data-bs-theme="dark" id="darkModeModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="darkModeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <form action="{% url 'settings' cookie_language 'dark_mode' %}" method="post" enctype="multipart/form-data">{% csrf_token %}

                <div class="my-3">
                  <input class="form-check-input" type="radio" name="dark_mode" id="dark_mode_dark" value="dark" {% if cookie_dark_mode == "dark" %}checked{% endif %}>
                  <label class="form-check-label w-75" for="dark_mode_dark">&nbsp; {{ icon.moon|safe }}&nbsp; <small class="opacity-50">Dark</small>
                  </label>
                </div>
                <div>
                  <input class="form-check-input" type="radio" name="dark_mode" id="dark_mode_light" value="light" {% if not cookie_dark_mode == "dark" %}checked{% endif %}>
                  <label class="form-check-label w-75" for="dark_mode_light">&nbsp; {{ icon.sun|safe }}&nbsp; <small class="opacity-50">Light</small>
                  </label>
                </div>

                <div class="d-grid gap-2 d-flex justify-content-end">
                <button type="button" class="btn btn-outline-danger btn-sm border border-0" data-bs-dismiss="modal" aria-label="Close">
                  {{ icon.close|safe }}
                </button>

                <button type="submit" class="btn btn-outline-light btn-sm border border-0" data-bs-target="#deleteModal2" data-bs-toggle="modal">
                  {{ icon.ok|safe }}
                </button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Dark mode end -->

      <!-- Translate -->
      {% if languages_displayed|length > 1 %}
      <a class="ms-3 me-3 text-decoration-none" style="color:{{ style.nav_top_fg }};" onMouseOver="this.style.color='{{ style.nav_top_fg_hover }}'" onMouseOut="this.style.color='{{ style.nav_top_fg }}'" type="button" data-bs-toggle="modal" data-bs-target="#translateModal">
        {{ icon.translate|safe }}<small><small>&nbsp;{{ cookie_language }}</small></small>
      </a>
      <!-- Translate modal -->
      <div class="modal fade text-light" data-bs-theme="dark" id="translateModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="translateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <form action="{% url 'settings' cookie_language 'cookie_language' %}" method="post" enctype="multipart/form-data">{% csrf_token %}

                {% for lang in languages_displayed %}
                <div class="mb-2 mx-2">
                  <small>
                  <input class="form-check-input" type="radio" name="radio-lang" id="{{ lang.code }}nav" value="{{ lang.code }}" {% if lang.code == cookie_language %}checked{% endif %}>
                  <label class="form-check-label" for="{{ lang.code }}nav">
                    &nbsp;{{ lang.code }}: &nbsp;<span>{{ lang.native_name }}</span> <small class="opacity-50">({{ lang.english_name }})</small>
                  </label>
                  </small>
                </div>
                {% endfor %}

                <div class="d-grid gap-2 d-flex justify-content-end">
                <button type="button" class="btn btn-outline-danger btn-sm border border-0" data-bs-dismiss="modal" aria-label="Close">
                  {{ icon.close|safe }}
                </button>

                <button type="submit" class="btn btn-outline-light btn-sm border border-0" data-bs-target="#deleteModal2" data-bs-toggle="modal">
                  {{ icon.ok|safe }}
                </button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Translate modal end -->
      {% else %}
      <span class="me-3"></span>
      {% endif %}
      <!-- Translate end -->

      <!-- Settings -->
      {% if user.is_superuser %}
      <a class="me-4 text-decoration-none" style="color:{{ style.nav_top_fg }};" onMouseOver="this.style.color='{{ style.nav_top_fg_hover }}'" onMouseOut="this.style.color='{{ style.nav_top_fg }}'" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        {{ icon.settings|safe }}
      </a>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" data-bs-theme="dark">
        <div class="offcanvas-header">
          <span class="offcanvas-title text-light ms-2" id="offcanvasRightLabel">SETTINGS</span>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">&nbsp;</button>
        </div>
        <div class="offcanvas-body">
          <!-- Superuser settings -->
          {% if user.is_superuser %}
          <div class="list-group">
            <!-- Posts -->
            <a class="list-group-item list-group-item-action" href="{% url 'settings' cookie_language 'posts' %}">
              {{ icon.post|safe }} &nbsp;<span>Posts</span>
            </a>
            <!-- Language -->
            <a class="list-group-item list-group-item-action" href="{% url 'settings' cookie_language 'language' %}">
              {{ icon.translate|safe }} &nbsp;<span>Languages</span>
            </a>
            <!-- Brand -->
            <a class="list-group-item list-group-item-action" href="{% url 'settings' cookie_language 'brand' %}">
              {{ icon.image|safe }} &nbsp;<span>Brand</span>
            </a>
            <!-- Style -->
            <a class="list-group-item list-group-item-action" href="{% url 'settings' cookie_language 'style' %}">
              {{ icon.style|safe }} &nbsp;<span>Style</span>
            </a>
            <!-- Admin -->
            <a class="list-group-item list-group-item-action" href="{% url 'admin' %}">
              {{ icon.admin|safe }} &nbsp;<span>Admin</span>
            </a>
            </div>
            <!-- Superuser end -->
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>

  </nav>
</div>

<div class="nav-container d-print-none m-0 p-0" style="background-color:{{ style.nav_bottom_bg }};">
  <nav class="navbar m-0 p-0">
    <div class="m-0 p-0 mt-1 mb-2">&nbsp;</div>

    <!-- Nav Item -->
    <div class="m-0 p-0 nav-text">
      {% for nav_item in nav_items %}
        {% if user.is_superuser %}
          <span class="my-0 mx-1 p-0 text-start">
            {% include 'nav_tools/warning.html'%}
            <a class="navbar-brand m-0 p-0 text-align-middle" href="{% url 'category' cookie_language nav_item.code %}">
              {% if nav_item.display_image and nav_item.img_type == 'image' %}
              <img src="{{ nav_item.image.url }}" alt="{{ nav_item.code }} icon" width="60" height="30" class="m-0 p-0 d-inline-block align-text-top">
              {% elif nav_item.display_image and nav_item.img_type == 'icon' %}
              <img src="{{ nav_item.icon.url }}" alt="{{ nav_item.code }} icon" width="30" height="30" class="m-0 p-0 d-inline-block align-text-top">
              {% endif %}

              {% if nav_item.display_text %}
              <span style="color:{{ style.nav_items_fg }};" onMouseOver="this.style.color='{{ style.nav_items_fg_hover }}'" onMouseOut="this.style.color='{{ style.nav_items_fg }}'">
                {{ categories_name|dict_key:nav_item.code }}
              </span>
              {% endif %}
            </a>
          </span>

        {% else %}

          {% if nav_item.display %}
          <span class="my-0 mx-1 p-0 text-start">
            <a class="navbar-brand m-0 p-0 text-align-middle" href="{% url 'category' cookie_language nav_item.code %}">
              {% if nav_item.display_image and nav_item.img_type == 'image' %}
              <img src="{{ nav_item.image.url }}" alt="{{ nav_item.code }} icon" width="60" height="30" class="m-0 p-0 d-inline-block align-text-top">
              {% elif nav_item.display_image and nav_item.img_type == 'icon' %}
              <img src="{{ nav_item.icon.url }}" alt="{{ nav_item.code }} icon" width="30" height="30" class="m-0 p-0 d-inline-block align-text-top">
              {% endif %}

              {% if nav_item.display_text %}
              <span style="color:{{ style.nav_items_fg }};" onMouseOver="this.style.color='{{ style.nav_items_fg_hover }}'" onMouseOut="this.style.color='{{ style.nav_items_fg }}'">
                {{ categories_name|dict_key:nav_item.code }}
              </span>
              {% endif %}
            </a>
          </span>
          {% endif %}

        {% endif %}
      {% endfor %}

      {% if user.is_superuser %}
      <div class="btn-group" role="group" aria-label="Add Nav Item" style="top: -2px;">
        <form action="{% url 'category' cookie_language path %}" method="post" enctype="multipart/form-data">{% csrf_token %}
          <input type="hidden" name="category-name" value="nav_item.code">
          <input type="hidden" name="add-item">
          <button type="submit" class="btn btn-outline-light opacity-50 btn-sm border border-0 rounded-circle">
            {{ icon.plus|replace:'class="|class="p-0 m-0 my-1 '|safe }}
          </button>
        </form>
      </div>
      {% endif %}

    </div>
    <!-- Nav Item end -->

    <div>&nbsp;</div>
  </nav>
<!--  <div class="nav-border-bottom"></div>-->

</div>
</header>
