{% extends 'base.html' %}

{% load static %}
{% load split %}
{% load sub %}
{% load add %}
{% load dict_key %}

{% block content %}

{% include '_nav.html'%}

<!-- Cover -->
{% if nav_item.display_cover %}
<div class="px-0"> <!-- container -->

  <div class="text-center d-none d-print-block"> <!-- Print page cover image-->
    <img class="mx-0" style="width:100%;height:100px;object-fit:cover;margin: 0px;" src="{{ nav_item.cover.url }}">
    <h1>{{ categories_name|dict_key:nav_item.code }}</h1>
  </div>

  <!-- Cover -->
  <div class="position-relative mx-0 d-print-none" style="height:100px;width:100%;margin: 0px;">
    <img class="mx-0" style="width:100%; height:100px; object-fit:cover; margin: 0px;" src="{{ nav_item.cover.url }}">

    <div class="position-absolute top-0 start-0" style="height:100px;width:100%;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0.6124649688977153) 0%, rgba(0,0,0,0.42759101931788346) 42%, rgba(20,255,0,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.6124649688977153) 0%, rgba(0,0,0,0.42759101931788346) 42%, rgba(20,255,0,0) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,0.6124649688977153) 0%, rgba(0,0,0,0.42759101931788346) 42%, rgba(20,255,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#14ff00',GradientType=1);
    ">
    </div>
    <!-- Title -->
    <div class="container text-center">
      {% if nav_item.parent %}
        <a href="{% url 'category' cookie_language nav_item.parent %}" style="position: relative; top: -90px; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); color: #AAA;">
        {{ categories_name|dict_key:nav_item.parent }}
        </a>
        <h1 style="position: relative; top: -90px; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); color: #DDD;">
        {{ categories_name|dict_key:nav_item.code }}
        </h1>
      {% else %}
        <h1 style="position: relative; top: -65px; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); color: #DDD;">
        {{ categories_name|dict_key:nav_item.code }}
        </h1>
      {% endif %}
    </div>

  </div>
</div>

{% else %}

<div class="container text-center">
  {% if nav_item.parent %}
  <small>
  <a href="{% url 'category' cookie_language nav_item.parent %}" class="m-0 p-0 text-dark text-opacity-50">
    {{ categories_name|dict_key:nav_item.parent }}
  </a>
  </small>
  <h1 class="mt-0">{{ categories_name|dict_key:nav_item.code }}</h1>
  {% else %}
  <h1>{{ categories_name|dict_key:nav_item.code }}</h1>
  {% endif %}
</div>

{% endif %}
<!-- cover end -->

<!-- Edit category page -->
<div class="text-center" style="position:relative;top:-15px;">
  {% if user.is_superuser %}
  {% include 'nav_tools/edit.html'%}
  {% include 'nav_tools/edit_modal.html'%}
  {% endif %}
</div>
<!-- Edit category page end -->

<div class="container-md mt-0" style="min-height: 500px;">
  <!-- grid -->
  {% if nav_item.local_type == 'grid' %}
  <div class="m-0 p-0">
  <div class="row row-cols-1 row-cols-md-2 m-0 p-0 g-4">

  {% for sub_nav_item in sub_nav_items %}
  {% if sub_nav_item.display or user.is_superuser %}

    {% for nav_item_string in nav_items_strings %}
    {% if nav_item_string.code == sub_nav_item.code and nav_item_string.lang == cookie_language and nav_item_string.subtitle %}
    </div>
    <h1 class="m-0 p-0 mt-4 mb-0 card-title">{{ nav_item_string.subtitle|split:"-|0" }}</h1>
    <p class="m-0 p-0 mt-0 mb-3 ms-2 card-subtitle">{{ nav_item_string.summary }}</p>
    <div class="row row-cols-1 row-cols-md-2 g-4">
    {% endif %}
    {% endfor %}

  <div class="col">

    <div class="card card-link-style shadow-sm">
      <div style="position:absolute;bottom:20px;left:-20px;margin:0px;">
      {% if user.is_superuser %}
      {% include 'sub_nav_tools/edit.html'%}
      {% include 'sub_nav_tools/edit_modal.html'%}
      {% endif %}
      </div>
      <a class="text-decoration-none text-dark" href="{% url 'sub_category' cookie_language sub_nav_item.parent sub_nav_item.code %}">
      <img src="{{ sub_nav_item.cover.url }}" class="card-img-top" alt="{{ sub_nav_item.code }}" style="width:100%;height:100px;object-fit:cover;margin: 0px;">
      <div class="card-body">
        <h5 class="card-title">{{ categories_name|dict_key:sub_nav_item.code }}</h5>
        <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
      </div>
      <div class="card-grid-link-indicator-bg">
        <div class="card-grid-link-indicator-middle-bg">
          <div class="card-grid-link-indicator-fg">
            &nbsp;
          </div>
        </div>
      </div>
      </a>
    </div>

  </div>
  {% endif %}
  {% endfor %}
  </div>

    <!-- Add category button-->
    {% if user.is_superuser %}
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
      <div class="col"></div>

      <div class="col" style="min-height: 150px;">
        <div class="position-relative card-link-style-add w-100 h-100 align-content-center text-center rounded">
          Add category
          <form action="{% url 'category' cookie_language path %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" name="category-name" value="{{ nav_item.code }}">
            <input type="hidden" name="add-sub-item">
            <button type="submit" 
            class="btn {% if style.is_dark %}btn-outline-light{% else %}btn-outline-dark{% endif %} btn-sm border border-1 {% if style.is_dark %}border-light{% else %}border-dark{% endif %} border-opacity-25">
            {{ icon.plus|safe }}
          </button>
          </form>
        </div>
      </div>
      <div class="col"></div>
    </div>
    {% endif %}
    <!-- Add category button end-->
  </div>
  <!-- grid end -->

  <!-- list -->
  {% elif nav_item.local_type == 'list' %}

    {% if posts %}
    {% for post in page_posts %}
    <a class="text-decoration-none" href="{% url 'post' cookie_language post.url %}">
    <div class="card mb-3 mt-3 rounded-0 card-link-style shadow-sm" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="{{ post.cover_image_thumb }}" alt="{{ post.title }}" style="width:100%;height:100px;object-fit:cover;margin: 0px;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 style="font-size:17pt;">{{ post.title }}</h3>
            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
          </div>
        </div>

        <span class="card-link-indicator-bg">
          <span class="card-link-indicator-fg">
            &nbsp;
          </span>
        </span>

      </div>
    </div>
    </a>
    {% endfor %}

<!-- Pagination -->
    {% if page_posts_schema|length > 1 %}
      {{ nav_item.parent }} {{ nav_item.code }}
      {% if nav_item.parent %}
      <div class="text-center">
        <div>
          {{ page_num }}<span class="opacity-50"><small>/{{ page_posts_schema|length }}&nbsp;</small></span>
        </div>
        
        {% if page_posts_schema|length > 3 %}
        <div class="btn-group me-2" role="group" aria-label="First group">
          <a type="button" class="btn btn-light" href="{% url 'sub_category' cookie_language nav_item.parent nav_item.code 1 %}">&lt;&lt;</a>
        </div>
        {% endif %}

        <div class="btn-group me-2" role="group" aria-label="First group">
          <a type="button" class="btn btn-light" href="{% url 'sub_category' cookie_language nav_item.parent nav_item.code page_num|sub:1 %}">&lt;</a>
        </div>

        <div class="btn-group me-2" role="group" aria-label="First group">
          {% for num in pagination_nums %}
          <a type="button" class="btn btn-light {% if num == page_num %}active{% endif %}" href="{% url 'sub_category' cookie_language nav_item.parent nav_item.code num %}">
          {{ num }}
          </a>
          {% endfor %}
        </div>

        <div class="btn-group me-2" role="group" aria-label="First group">
          <a type="button" class="btn btn-light" href="{% url 'sub_category' cookie_language nav_item.parent nav_item.code page_num|add:1 %}">&gt;</a>
        </div>

        {% if page_posts_schema|length > 3 %}
        <div class="btn-group me-2" role="group" aria-label="First group">
          <a type="button" class="btn btn-light" href="{% url 'sub_category' cookie_language nav_item.parent nav_item.code page_posts_schema|length %}">&gt;&gt;</a>
        </div>
        {% endif %}

      </div>

      {% else %}

      <div class="text-center">
        <div>
          {{ page_num }}<span class="opacity-50"><small>/{{ page_posts_schema|length }}&nbsp;</small></span>
        </div>
        
        {% if page_posts_schema|length > 3 %}
        <div class="btn-group me-2" role="group" aria-label="First group">
          <a type="button" class="btn btn-light" href="{% url 'category' cookie_language path 1 %}">&lt;&lt;</a>
        </div>
        {% endif %}

        <div class="btn-group me-2" role="group" aria-label="First group">
          <a type="button" class="btn btn-light" href="{% url 'category' cookie_language path page_num|sub:1 %}">&lt;</a>
        </div>

        <div class="btn-group me-2" role="group" aria-label="First group">
          {% for num in pagination_nums %}
          <a type="button" class="btn btn-light {% if num == page_num %}active{% endif %}" href="{% url 'category' cookie_language path num %}">
          {{ num }}
          </a>
          {% endfor %}
        </div>

        <div class="btn-group me-2" role="group" aria-label="First group">
          <a type="button" class="btn btn-light" href="{% url 'category' cookie_language path page_num|add:1 %}">&gt;</a>
        </div>

        {% if page_posts_schema|length > 3 %}
        <div class="btn-group me-2" role="group" aria-label="First group">
          <a type="button" class="btn btn-light" href="{% url 'category' cookie_language path page_posts_schema|length %}">&gt;&gt;</a>
        </div>
        {% endif %}
        
      </div>
      {% endif %}
    
    {% endif %}
<!-- Pagination end -->

    {% else %}
    <div class="col mt-3">
      <div class="card">
          <div class="card-body">
            <p>No articles are available.</p>
          </div>
      </div>
    </div>
  {% endif %}
  <!-- list end -->

  <!-- Post content -->
  {% elif nav_item.local_type == 'content' %}

    {% if posts %}
      {% for post in posts %}

        {% if nav_item.code in post.categories and post.lang == cookie_language %}
        <p>{{ post.content|safe }}</p>
        {% endif %}

      {% endfor %}
    {% endif %}

  <!-- Post content -->
  {% endif %}

</div>
{% include '_footer.html'%}
{% endblock %}
