{% extends 'base.html' %}
{% load static %}
{% load replace %}
{% load split %}

{% block content %}
{% include '_nav.html'%}

<!-- Toolbar -->
{% if user.is_superuser %}
<div class="sticky-top d-print-none">

  <div class="row row-cols-auto justify-content-center m-0 p-0">
    <div class="btn-toolbar m-0 p-0 position-absolute top-0 mt-4" role="toolbar" aria-label="Toolbar with button groups">

      <div class="btn-group m-0 p-0 border border-1 border-light border-opacity-10 rounded-2 mx-1" role="group" aria-label="Translate post">
        {% include 'toolbar_tools/publish.html' %}
      </div>

      <div class="btn-group m-0 p-0 border border-1 border-light border-opacity-10 rounded-2 mx-1" role="group" aria-label="Edit post">
        {% include 'toolbar_tools/cover.html' %}
        {% include 'toolbar_tools/title.html' %}
        {% include 'toolbar_tools/content.html' %}
        {% include 'toolbar_tools/tags.html' %}
        {% include 'toolbar_tools/categories.html' %}
        {% include 'toolbar_tools/translate.html' %}
      </div>

      <div class="btn-group m-0 p-0 border border-1 border-light border-opacity-10 rounded-2 mx-1" role="group" aria-label="Publish post">
        {% include 'toolbar_tools/delete.html' %}
      </div>

    </div>
  </div>

</div>

<!-- Translate -->
{% include 'toolbar_tools/translate_modal.html' %}

<!-- Cover -->
{% include 'toolbar_tools/cover_modal.html' %}
<!-- Title -->
{% include 'toolbar_tools/title_modal.html' %}
<!-- Content -->
{% include 'toolbar_tools/content_modal.html' %}
<!-- Tags -->
{% include 'toolbar_tools/tags_modal.html' %}
<!-- Category -->
{% include 'toolbar_tools/categories_modal.html' %}

<!-- Delete -->
{% include 'toolbar_tools/delete_modal.html' %}
<!-- Published -->
{% include 'toolbar_tools/publish_modal.html' %}

{% endif %}
<!-- Toolbar end -->
<main>
<article>
<!-- Cover -->
<div style="background: #222;">
<div class="px-0"> <!-- container -->
  <div class="d-none d-print-block"> <!-- Print page cover image-->
    {% if not post.cover_image.url %}
    <img class="mx-0" style="width:100%;height:350px;object-fit:cover;margin: 0px;" src="{% static 'landscape-h.png' %}">
    {% else %}
    <img class="mx-0" style="width:100%;height:350px;object-fit:cover;margin: 0px;" src="{{ post.cover_image.url }}">
    {% endif %}
    {% if post.cover_image_credits %}
    <div class="text-dark text-opacity-50 text-end m-0 p-0"><sup>{{ post.cover_image_credits }}</sup></div>

    {% endif %}
    <h1 class="text-center">{{ post.title }}</h1>
  </div>

  <!-- Cover -->
  <div class="position-relative mx-0 d-print-none" style="height:350px;width:100%;margin: 0px;">

    {% if not post.cover_image.url %}
    <img class="mx-0" style="width:100%;height:350px;object-fit:cover;margin: 0px;" src="{% static 'landscape-h.png' %}">
    {% else %}
    <img class="mx-0" style="width:100%;height:350px;object-fit:cover;margin: 0px;" src="{{ post.cover_image.url }}">
    {% endif %}

    <div class="position-absolute top-0 start-0" style="height:350px;width:100%;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0.39677869438791147) 0%, rgba(0,0,0,0.20070026301536237) 25%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.39677869438791147) 0%, rgba(0,0,0,0.20070026301536237) 25%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,0.39677869438791147) 0%, rgba(0,0,0,0.20070026301536237) 25%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#000000',GradientType=1);
    "></div>
    
    {% if post.title|lower == 'new' %}
      <div class="position-absolute bottom-50 start-0 w-100">

        <div class="position-relative mt-5 mx-5 text-light d-flex justify-content-between">
          <div>&nbsp;</div>
          <div class="bg-warning bg-opacity-50 border border-warning border-opacity-75 rounded-3 p-3">
            {{ icon.warning|replace:'class="|class="p-0 m-0 mb-1 '|safe }}
          Rename the title to save the content as a valid post.
          </div>
          <div>&nbsp;</div>
        </div>

      </div>
    {% endif %}

    <!-- Title -->
    <div class="container text-center post-cover-title"> <!-- position-absolute bottom-0 start-0 mb-2 -->
        <h1>
          {{ post.title }}
        </h1>
    </div>

  </div>
<!-- cover end -->

</div>
</div>
<!-- Cover end -->

<!-- Content -->
<div class="container-md px-0">
<div class="position-relative my-0 mx-0 px-4 pb-4 post_stl" 
  style="background:{% if cookie_dark_mode == "dark" %}{{ style.body_bg_dark }}{% else %}{{ style.body_bg }}{% endif %};margin:0px;">
  {% if post.cover_image_credits and not post.cover_image_credits_link %}
  <div class="{% if cookie_dark_mode == "dark" %}text-light{% else %}text-dark{% endif %} text-end my-0 mx-0 py-0 opacity-50 d-print-none">
    <sup>{{ post.cover_image_credits }}</sup>
  </div>
  {% elif post.cover_image_credits and post.cover_image_credits_link %}
  <div class="text-end my-0 mx-0 py-0 opacity-50 d-print-none">
    <sup>
      <a href="{{ post.cover_image_credits_link }}" target="_blank" class="text-decoration-none {% if cookie_dark_mode == "dark" %}text-light{% else %}text-dark{% endif %}">
        {{ post.cover_image_credits }}{{ icon.link|safe }}
      </a>
    </sup>
  </div>
  {% else %}
  <div class="{% if cookie_dark_mode == "dark" %}text-light{% else %}text-dark{% endif %} text-end my-0 mx-0 py-0 opacity-50 d-print-none">
    <sup>&nbsp;</sup>
  </div>
  {% endif %}

  <div class="d-flex justify-content-between py-0 my-0">
  <p class="py-0 my-0 opacity-25 d-print-none">
    {{ icon.clock|replace:'class="|class="mb-1 '|safe }}&nbsp;&nbsp;<small>{{ post.update_date|date:"d/m/Y" }}</small>
  </p>

  <!-- Lang/Translate user col -->
  {% if post_languages|length > 1 and languages_displayed|length > 1 %}
  <div class="py-0 my-0 d-print-none">
    <button type="button" class="btn {% if cookie_dark_mode == "dark" %}btn-outline-light btn-sm border border-1 border-light{% else %}btn-outline-dark btn-sm border border-1 border-dark{% endif %} border-opacity-25" data-bs-toggle="modal" data-bs-target="#langUserModal">
      {{ icon.translate|safe }} {{ post.lang }}
    </button>
    <!-- Lang/Translate user modal -->
    <div class="modal fade text-light" data-bs-theme="dark" id="langUserModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="langUserModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">

            <form action="{% url 'post' cookie_language post.url %}" method="post" enctype="multipart/form-data">{% csrf_token %}
              <div class="ms-2 mt-3">
              {% for post_lang in languages_displayed %}

                {% if post_lang.code in post_languages %}
                <div class="form-check border-bottom border-secondary border-opacity-10 mb-4 me-2">
                  <div class="d-flex justify-content-between">
                    <div>
                      <input class="form-check-input" type="radio" name="radio-lang" id="{{ post_lang.code }}0" value="{{ post_lang.code }}" {% if post.lang == post_lang.code %}checked{% endif %}>
                      <label class="form-check-label" for="{{ post_lang.code }}0">
                        {{ post_lang.code }}: &nbsp;{{ post_lang.native_name }} <small class="opacity-50">({{ post_lang.english_name }})</small>
                      </label>
                      <br>
                      {% for key, value in post_languages.items %}
                      {% if post_lang.code in key %}
                      <sup class="opacity-25">{{ value.1 }}</sup>
                      {% endif %}
                      {% endfor %}
                    </div>

                    <div>
                      &nbsp;
                    </div>

                  </div>
                </div>
                {% endif %}

              {% endfor %}
              </div>

              <div class="d-grid gap-2 d-flex justify-content-end mt-3">
              <button type="button" class="btn btn-outline-danger btn-sm border border-0" data-bs-dismiss="modal" aria-label="Close">
                {{ icon.close|safe }}
              </button>

              <input type="hidden" name="id" value="{{ post.id }}">
              <button type="submit" class="btn btn-outline-light btn-sm border border-0">
                {{ icon.ok|safe }}
              </button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div> <!-- Lang/Translate user modal end -->
  </div> <!-- Lang/Translate user end -->
  {% endif %}

  </div>
<!-- <div 
  style="
    position:fixed;
    inset:0;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ post.cover_image.url }}') center/cover no-repeat;
    filter:blur(20px);
    z-index:-1;">
</div> -->
  <div style="min-height:300px;">
    {% if not post.content %}
      Content...
    {% else %}
      {{ post.content | safe }}
    {% endif %}
  </div>

</div>

<div class="container-md d-print-none px-0">
<div class="position-relative my-0 mx-0 tag-category">
  <!-- Tags -->

  <div class="row row-cols-auto ms-1 ps-2 pb-4"><span class="opacity-50">{% if post.tags %}Tags:{% else %}&nbsp;{% endif %}</span>
  {% if post.tags %}
  {% for tag in post.tags|split:',' %}
    <div class="col mx-2 px-0">
      <a href="{% url 'tag' cookie_language tag %}">
        <svg class="bi bi-file-earmark-plus" width="16" height="16" fill="currentColor" version="1.1" viewBox="0 0 16 16" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
          <circle cx="8" cy="7" r="3" fill="#dcdcdc" stroke-dasharray="7.21134, 7.21134" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2019" style="paint-order:stroke fill markers"/>
        </svg>
        {{ tag }}&nbsp;
      </a>
    </div>
  {% endfor %}
  {% endif %}
  </div>


</div>
</div>

</div>
</article>
</main>
{% include '_footer.html'%}
{% endblock %}
