{% extends 'base.html' %}
{% load static %}
{% load split %}
{% load replace %}
{% block content %}
{% include '_nav.html'%}

<div class="container-md" 
  {% if cookie_dark_mode == 'dark' %} style="color:{{ style.body_fg_dark }};background-color:{{ style.body_bg_dark }};min-height: 500px;" {% else %} style="color:{{ style.body_fg }};background-color:{{ style.body_bg }};min-height: 500px;" {% endif%}>

<!-- cookie_language -->
{% if path == 'cookie_language' or path == 'dark_mode' %}
  <meta http-equiv="REFRESH" content="0;url={% url 'index' cookie_language %}">
<!-- cookie_language end -->

<!-- Language -->
{% elif path == 'language' %}
  <h1 class="text-center">Languages</h1>
  <div class="w-75 mx-auto">

    <button type="button" class="btn btn-sm {% if cookie_dark_mode == 'dark' %}btn-outline-light border border-1 border-light{% else %}btn-outline-dark border border-1 border-dark{% endif%} border-opacity-25 ms-2" data-bs-target="#newLangModal3" data-bs-toggle="modal">
      {{ icon.plus|safe }} Add
    </button>
    <!-- Lang/Translate modal 2 -->
    <div class="modal fade text-light" data-bs-theme="dark" id="newLangModal3" data-bs-backdrop="static" tabindex="-1" aria-labelledby="newLangModal3Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-body">

            <form class="needs-validation" action="{% url 'settings' cookie_language 'language' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
              <div class="mt-2">

                <div class="my-0 py-0 mx-4">
                  <label for="native_name" class="form-label my-0 py-0">
                    <small>
                    Native name:<br><sup class="opacity-50 my-0 py-0">Português, Español, 日本語 . . .</sup>
                    </small>
                  </label>
                  <input type="text" class="form-control my-0 py-0" id="native_name" name="native_name">
                  <div class="invalid-feedback">
                    Please provide a native name
                  </div>
                </div>

                <div class="mb-0 mt-2 py-0 mx-4">
                  <label for="english_name" class="form-label my-0 py-0">
                    <small>
                    English name:<br><sup class="opacity-50 my-0 py-0">Portuguese, Spanish, Japanese . . .</sup>
                    </small>
                  </label>
                  <input type="text" class="form-control my-0 py-0" id="english_name" name="english_name">
                  <div class="invalid-feedback">
                    Please provide the english name
                  </div>
                </div>

                <div class="mb-0 mt-2 py-0 mx-4">
                  <label for="new_lang_code" class="form-label my-0 py-0">
                    <small>
                    Lang code:<br><sup class="opacity-50 my-0 py-0">pt-br, &nbsp; es, &nbsp; ja&nbsp;. . .</sup>
                    </small>
                  </label>
                  <input type="text" class="form-control my-0 py-0" id="new_lang_code" name="new_lang_code">
                  <div class="invalid-feedback">
                    Please provide the lang code
                  </div>
                </div>

              </div>

              <div class="d-grid gap-2 d-flex justify-content-end mt-2">
                <button type="button" class="btn btn-outline-danger btn-sm border border-0" data-bs-dismiss="modal" aria-label="Close">
                  {{ icon.close|safe }}
                </button>

                <input type="hidden" name="settings_language_new" id="settings_language_new">
                <button type="submit" class="btn btn-outline-light btn-sm border border-0">
                  {{ icon.ok|safe }}
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
    <!-- Lang/Translate modal 2 end -->


    <form action="{% url 'settings' cookie_language 'language' %}"
        method="post" enctype="multipart/form-data">{% csrf_token %}

      {% for lang in languages %}

      <div class="ms-2 mt-3">
        <span>{{ lang.native_name }}: {{ lang.code }} <small class="opacity-50">({{ lang.english_name }})</small></span>
        <div class="form-check ms-2">
          <input class="form-check-input" type="radio" name="default_lang_radio" id="{{ lang.code }}" value="{{ lang.code }}" {% if lang.code == settings.default_lang %}checked{% endif %}>
          <label class="form-check-label" for="{{ lang.code }}">Default</label>
        </div>
      </div>

      <div class="row">
        {% if lang.code != settings.default_lang %}
        <div class="col">
          <input class="form-check-input ms-3" type="checkbox" name="display_lang" id="display_lang_1" value="{{ lang.code }}" {% if lang.display %}checked{% endif %}>
          <label class="form-check-label" for="display_lang_1">Enabled</label>
        </div>

        <div class="col text-end text-danger">
          <button type="button" class="btn btn-outline-danger btn-sm border border-0" data-bs-toggle="modal" data-bs-target="#deleteModal">
            {{ icon.trash|safe }}
          </button>
          <!-- Delete lang modal -->
          <div class="modal fade text-start" data-bs-theme="dark" id="deleteModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body text-light">
                  <p class="text-light my-0 py-0">Delete lang</p>

                  <p class="mt-4">
                    {{ icon.light|safe }}
                    <small>
                    Consider simply disabling public viewing of the language so you can simply enable it in the future.
                    </small>
                    <br><br>
                    <small>
                    Make sure there are no posts in the language you want to delete, as access to those posts will be lost.
                    </small>
                  </p>

                  <div class="d-grid gap-2 d-flex justify-content-end mt-3">
                  <button type="button" class="btn btn-outline-danger btn-sm border border-0" data-bs-dismiss="modal" aria-label="Close">
                    {{ icon.close|safe }}
                  </button>

                  <input type="hidden" name="settings_language_delete" value="{{ lang.code }}">
                  <button type="submit" class="btn btn-outline-light btn-sm border border-0" data-bs-target="#deleteModal2" data-bs-toggle="modal">
                    {{ icon.ok|safe }}
                  </button>
                  </div>

                </div>
              </div>
            </div>
          </div> <!-- Delete lang modal end -->

        </div>
        {% else %}
        <div class="col">
          <input class="form-check-input ms-3" type="checkbox" name="display_lang" id="display_lang_2" value="{{ lang.code }}" {% if lang.display %}checked disabled{% endif %}>
          <label class="form-check-label" for="display_lang_2">Enabled</label>
        </div>

        <div class="col text-end text-danger text-opacity-25">
          <button type="button" class="btn btn-outline-danger btn-sm border border-0" data-bs-toggle="modal" data-bs-target="#deleteModal" disabled>
            {{ icon.trash|safe }}
          </button>
        </div>
        {% endif %}
      </div>

      <hr class="text-secondary text-opacity-50">

      {% endfor %}
      
      <div class="my-5 mx-2 d-flex align-items-end flex-column">
        <button type="submit" name="settings_language" class="btn {% if cookie_dark_mode == 'dark' %}btn-outline-light btn-sm border border-1 border-light{% else %}btn-outline-dark btn-sm border border-1 border-dark{% endif%} border-opacity-25">
          {{ icon.ok|safe }} Save
        </button>
      </div>

    </form>
    
  </div>
<!-- Language end -->

<!-- Brand -->
{% elif path == 'brand' %}
  <h1 class="text-center">Brand</h1>
  <div class="w-75 mx-auto">
    <form action="{% url 'settings' cookie_language 'brand' %}"
        method="post" enctype="multipart/form-data">{% csrf_token %}

        <label for="favicon_image" class="mt-4"><h4>Favicon image</h4></label>
        <div class="text-opacity-75">
          <img src="{{ settings.favicon.url }}" width="16" height="16" class="m-0 mb-1 p-0 d-inline-block align-text-center"> (16x16) <span class="opacity-50">&nbsp;png &nbsp;jpg &nbsp;jpeg</span>
        </div>
        <div class="input-group">
          <input type="file" class="form-control" id="favicon_image" name="favicon_image">
        </div>

        <label for="logo_image" class="mt-4"><h4>Logo image</h4></label>
        <div class="text-opacity-75">
          <img src="{{ settings.logo.url }}" width="30" height="30" class="m-0 mb-1 p-0 d-inline-block align-text-center"> (30x30) <span class="opacity-50">&nbsp;png &nbsp;jpg &nbsp;jpeg</span>&nbsp;&nbsp;&nbsp;
        </div>
        <div class="input-group">
          <input type="file" class="form-control" id="logo_image" name="logo_image">
        </div>
        <span class="form-check form-check">
          <input class="form-check-input" type="checkbox" value="" name="display_logo" id="display_logo"
            {% if settings.display_logo %}checked{% endif %}>
          <label class="form-check-label text-opacity-75" for="display_logo">Display logo image</label>
        </span>
        <!-- Restore -->
        <!-- <span class="form-check px-0">
          <label class="check-icon">
            <input type="checkbox" name="restore" id="restore">
            <span class="icon unchecked">
              {{ icon.arrow_restore|safe }}
            </span>
            <span class="icon checked">
              {{ icon.arrow_restore_45|safe }}
            </span>
            <span style="margin-top: 1px;" class="{% if cookie_dark_mode == 'dark' %}text-light{% else %}text-dark{% endif %}">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Default
            </span>
          </label>
        </span> -->
        <!-- Restore end -->

        <label for="brand_image" class="mt-4"><h4>Brand image</h4></label>
        <div class="text-opacity-75">
          <img src="{{ settings.brand.url }}" width="100" height="30" class="m-0 mb-1 p-0 d-inline-block align-text-center"> (100x30) <span class="opacity-50">&nbsp;png &nbsp;jpg &nbsp;jpeg</span>
        </div>
        <div class="input-group">
          <input type="file" class="form-control" id="brand_image" name="brand_image">
        </div>
        <span class="form-check form-check">
          <input class="form-check-input" type="checkbox" value="" name="display_brand" id="display_brand"
            {% if settings.display_brand %}checked{% endif %}>
          <label class="form-check-label text-opacity-75" for="display_brand">Display brand image</label>
        </span>

        <label for="page_name" class="mt-4"><h4>Page name</h4></label>
        <div class="input-group">
          <input type="text" class="form-control" id="page_name" name="page_name" value="{{ settings.name }}">
        </div>
        <span class="form-check form-check">
          <input
            class="form-check-input" type="checkbox" value="" name="display_page_name" id="display_page_name"
            {% if settings.display_name %}checked{% endif %}>
          <label class="form-check-label text-opacity-75" for="display_page_name">Display page name</label>
        </span>

        <div class="my-5 mx-2 d-flex align-items-end flex-column">
          <button type="submit" name="settings_brand" class="btn btn-outline-dark btn-sm border border-1 border-dark border-opacity-25">
            {{ icon.ok|safe }} Save
          </button>
        </div>
      
    </form>
  </div>
<!-- Brand end -->

<!-- Posts -->
{% elif path == 'posts' %}
  <h1 class="text-center">Posts</h1>
  
  <div class="row">
    <div class="col">
      <h4>New post</h4>
      <a type="button" class="btn btn-sm {% if cookie_dark_mode == 'dark' %}btn-outline-light border border-1 border-light{% else %}btn-outline-dark border border-1 border-dark{% endif%} border-opacity-25" href="{% url 'post' cookie_language 'create-new-post' %}">
        {{ icon.plus|safe }} Add
      </a>
    </div>
    
    <div class="col">
      <h4>Posts for page</h4>
      <form action="{% url 'settings' cookie_language 'posts' %}"
        method="post" enctype="multipart/form-data">{% csrf_token %}

        <div class="input-group" style="width: 130px;">
          <input type="number" class="form-control form-control-sm" id="posts_for_page" name="posts_for_page" value="{{ settings.posts_for_page }}">
          <button type="submit" name="settings_posts" class="btn btn-sm {% if cookie_dark_mode == 'dark' %}btn-outline-light border border-1 border-light{% else %}btn-outline-dark border border-1 border-dark{% endif%} border-opacity-25">
            {{ icon.ok|safe }} Save
          </button>

        </div>
      </form>
    </div>
  </div>

  <form action="{% url 'settings' cookie_language 'posts' %}" class="mt-4" 
        method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="input-group pe-4">
      <input type="text" class="form-control form-control-sm" id="search_filter_posts" name="search_filter_posts" placeholder="Text &lt;tag, tag2&gt; [category, category2]">
      <button type="submit" name="settings_posts" class="btn btn-sm {% if cookie_dark_mode == 'dark' %}btn-outline-light border border-1 border-light{% else %}btn-outline-dark border border-1 border-dark{% endif%} border-opacity-25">
        {{ icon.search|safe }}
      </button>

    </div>
  </form>

  {% for post_group in posts %}
  <div class="row p-0 m-0 my-2">
    {% for post in post_group %}
    <div class="row align-items-center" style="margin-top: 1px;">

      <div class="col-1 m-0 p-0 py-1 bg-light bg-opacity-25 h-100" style="min-width: 60px; max-width: 60px;">
        <p class="m-0 p-0 ps-2">{{ post.lang }}</p>
      </div>

      <div class="col m-0 p-0 py-1 bg-light {% if cookie_dark_mode == 'dark' %}bg-opacity-10{%else%}bg-opacity-50{% endif %} h-100">
        {% if post.title == 'x' %}
        <p class="m-0 p-0 px-2 text-danger text-opacity-75">
          {{ icon.close|safe }}
        </p>
        {% else %}
          <p class="m-0 p-0 px-2 {% if cookie_dark_mode == 'dark' %}text-light text-opacity-75{%else%}text-dark text-opacity-50{% endif %}">
            {% if post.display %}
              {{ icon.visible|replace:'class="|class="mb-1 '|safe }}
            {% else %}
              {{ icon.hidden|replace:'class="|class="text-warning mb-1 '|safe }}
            {% endif %}
            <a class="text-decoration-none ps-1" href="{% url 'post' cookie_language post.url %}">{{ post.title }}</a>
          </p>
        {% endif %}
      </div>

      </div>
    {% endfor %}
    </div>
    {% endfor %}
<!-- Posts end -->

<!-- Style -->
{% elif path == 'style' %}
  <h1 class="text-center">Style</h1>
  <div class="w-75 mx-auto">
    <form action="{% url 'settings' cookie_language 'style' %}"
        method="post" enctype="multipart/form-data">{% csrf_token %}

        <div class="container text-center">
          <div class="row">

            <h2 class="text-start mt-4">Header</h2>

            <div class="col">
              <label for="nav_top_bg">background</label>
              <div class="mx-auto" style="width: 50px;">
                <input type="color" class="form-control" id="nav_top_bg" name="nav_top_bg" value="{{ style.nav_top_bg }}">
              </div>
              <small class="{% if cookie_dark_mode == 'dark' %}text-light{% else %}text-dark{% endif %} text-opacity-50">{{ style.nav_top_bg|upper }}</small>
            </div>

            <div class="col">
              <label for="nav_top_fg">text</label>
              <div class="mx-auto" style="width: 50px;">
                <input type="color" class="form-control" id="nav_top_fg" name="nav_top_fg" value="{{ style.nav_top_fg }}">
              </div>
              <small class="{% if cookie_dark_mode == 'dark' %}text-light{% else %}text-dark{% endif %} text-opacity-50">{{ style.nav_top_fg|upper }}</small>
            </div>

            <div class="col">
              <label for="nav_top_fg_hover">text hover</label>
              <div class="mx-auto" style="width: 50px;">
                <input type="color" class="form-control" id="nav_top_fg_hover" name="nav_top_fg_hover" value="{{ style.nav_top_fg_hover }}">
              </div>
              <small class="{% if cookie_dark_mode == 'dark' %}text-light{% else %}text-dark{% endif %} text-opacity-50">{{ style.nav_top_fg_hover|upper }}</small>
            </div>

            <div class="{% if cookie_dark_mode == 'dark' %}text-light{% else %}text-dark{% endif %} text-opacity-50 mt-4"><hr></div>
            <h2 class="text-start">Menu</h2>

            <div class="col">
              <label for="nav_bottom_bg">background</label>
              <div class="mx-auto" style="width: 50px;">
                <input type="color" class="form-control" id="nav_bottom_bg" name="nav_bottom_bg" value="{{ style.nav_bottom_bg }}">
              </div>
              <small class="{% if cookie_dark_mode == 'dark' %}text-light{% else %}text-dark{% endif %} text-opacity-50">{{ style.nav_bottom_bg|upper }}</small>
            </div>

            <div class="col">
              <label for="nav_items_fg">text</label>
              <div class="mx-auto" style="width: 50px;">
                <input type="color" class="form-control" id="nav_items_fg" name="nav_items_fg" value="{{ style.nav_items_fg }}">
              </div>
              <small class="{% if cookie_dark_mode == 'dark' %}text-light{% else %}text-dark{% endif %} text-opacity-50">{{ style.nav_items_fg|upper }}</small>
            </div>

            <div class="col">
              <label for="nav_items_fg_hover">text hover</label>
              <div class="mx-auto" style="width: 50px;">
                <input type="color" class="form-control" id="nav_items_fg_hover" name="nav_items_fg_hover" value="{{ style.nav_items_fg_hover }}">
              </div>
              <small class="{% if cookie_dark_mode == 'dark' %}text-light{% else %}text-dark{% endif %} text-opacity-50">{{ style.nav_items_fg_hover|upper }}</small>
            </div>

            <!-- <div class="{% if cookie_dark_mode == 'dark' %}text-light{% else %}text-dark{% endif %} text-opacity-50 mt-4"><hr></div>
            <h2 class="text-start">Page</h2>

            <div class="col">
              <label for="body_fg">text</label>
              <div class="mx-auto" style="width: 50px;">
                <input type="color" class="form-control" id="body_fg" name="body_fg" value="{{ style.body_fg }}">
              </div>
            </div>

            <div class="col"></div> <div class="col"></div> -->
            <div class="{% if cookie_dark_mode == 'dark' %}text-light{% else %}text-dark{% endif %} text-opacity-50 m-0 mt-4"><hr></div>

          </div>
        </div>

      <div class="mb-5 mx-2 d-flex align-items-end flex-column">
        <button type="submit" name="settings_style" class="btn btn-outline-dark btn-sm border border-1 border-dark border-opacity-25">
          {{ icon.ok|safe }} Save
        </button>
      </div>
      
    </form>
    
  </div>
<!-- Style end -->

{% endif %}
</div>

{% include '_footer.html'%}
{% endblock %}
