{% extends 'base.html' %}
{% load static %}
{% load split %}
{% block content %}
{% include '_nav.html'%}

<div class="container-md" style="min-height: 500px;">

<!-- cookie_language -->
{% if path == 'cookie_language' %}
  <meta http-equiv="REFRESH" content="0;url={% url 'index' cookie_language %}">
<!-- cookie_language end -->

<!-- General -->
{% elif path == 'general' %}
  <h1 class="text-center">General</h1>
  <div class="w-75 mx-auto">
    <form action="{% url 'settings' cookie_language 'general' %}"
        method="post" enctype="multipart/form-data">{% csrf_token %}

      <label for="posts_for_page" class="mt-4"><h4>Posts for page</h4></label>

      <div class="row align-items-center" style="width: 250px;">
        <div class="col">
          <input type="number" class="form-control" id="posts_for_page" name="posts_for_page" value="{{ settings.posts_for_page }}">
        </div>
        
        <div class="col">
          <button type="submit" name="settings_general" class="btn btn-outline-dark btn-sm border border-1 border-dark border-opacity-25">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
              <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
            </svg> Save
          </button>
        </div>
      
      </div>

<!--       <div class="my-5 mx-2 d-flex align-items-end flex-column form-check form-check-inline">
        <button type="submit" name="settings_general" class="btn btn-outline-dark btn-sm border border-1 border-dark border-opacity-25">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
          </svg> Save
        </button>
      </div> -->

    </form>
    
  </div>
<!-- General end -->

<!-- Brand -->
{% elif path == 'brand' %}
  <h1 class="text-center">Brand settings</h1>
  <div class="w-75 mx-auto">
    <form action="{% url 'settings' cookie_language 'brand' %}"
        method="post" enctype="multipart/form-data">{% csrf_token %}

        <label for="favicon_image" class="mt-4"><h4>Favicon image</h4></label>
        <div class="text-opacity-75">
          <img src="{{ settings.favicon.url }}" width="16" height="16" class="m-0 mb-1 p-0 d-inline-block align-text-center"> (16x16) <span class="opacity-50">&nbsp;png &nbsp;jpg &nbsp;jpeg</span>
        </div>
        <div class="input-group">
          <input type="file" class="form-control" id="favicon_image" name="favicon_image">
        </div>

        <label for="logo_image" class="mt-4"><h4>Logo image</h4></label>
        <div class="text-opacity-75">
          <img src="{{ settings.logo.url }}" width="30" height="30" class="m-0 mb-1 p-0 d-inline-block align-text-center"> (30x30) <span class="opacity-50">&nbsp;png &nbsp;jpg &nbsp;jpeg</span>
        </div>
        <div class="input-group">
          <input type="file" class="form-control" id="logo_image" name="logo_image">
        </div>
        <span class="form-check form-check">
          <input class="form-check-input" type="checkbox" value="" name="display_logo" id="display_logo"
            {% if settings.display_logo %}checked{% endif %}>
          <label class="form-check-label text-opacity-75" for="display_logo">Display logo image</label>
        </span>

        <label for="brand_image" class="mt-4"><h4>Brand image</h4></label>
        <div class="text-opacity-75">
          <img src="{{ settings.brand.url }}" width="100" height="30" class="m-0 mb-1 p-0 d-inline-block align-text-center"> (100x30) <span class="opacity-50">&nbsp;png &nbsp;jpg &nbsp;jpeg</span>
        </div>
        <div class="input-group">
          <input type="file" class="form-control" id="brand_image" name="brand_image">
        </div>
        <span class="form-check form-check">
          <input class="form-check-input" type="checkbox" value="" name="display_brand" id="display_brand"
            {% if settings.display_brand %}checked{% endif %}>
          <label class="form-check-label text-opacity-75" for="display_brand">Display brand image</label>
        </span>

        <label for="page_name" class="mt-4"><h4>Page name</h4></label>
        <div class="input-group">
          <input type="text" class="form-control" id="page_name" name="page_name" value="{{ settings.name }}">
        </div>
        <span class="form-check form-check">
          <input
            class="form-check-input" type="checkbox" value="" name="display_page_name" id="display_page_name"
            {% if settings.display_name %}checked{% endif %}>
          <label class="form-check-label text-opacity-75" for="display_page_name">Display page name</label>
        </span>

        <div class="my-5 mx-2 d-flex align-items-end flex-column">
          <button type="submit" name="settings_brand" class="btn btn-outline-dark btn-sm border border-1 border-dark border-opacity-25">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
              <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
            </svg> Save
          </button>
        </div>
      
    </form>
  </div>
<!-- Brand end -->

<!-- Posts -->
{% elif path == 'posts' %}
  <h1 class="text-center">Posts</h1>
  <h4>New</h4>
  <a type="button" class="btn btn-outline-dark btn-sm border border-1 border-dark border-opacity-25" href="{% url 'post' cookie_language 'create-new-post' %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
    </svg>
  </a>
  <h4 class="mt-4">All</h4>
  {% for post_group in posts %}
  <div class="row p-0 m-0 my-2">
    {% for post in post_group %}
    <div class="row align-items-center" style="margin-top: 1px;">

      <div class="col-1 m-0 p-0 py-2 bg-light bg-opacity-25 h-100" style="min-width: 60px; max-width: 60px;">
        <p class="m-0 p-0 ps-2">{{ post.lang }}</p>
      </div>

      <div class="col m-0 p-0 py-2 bg-light bg-opacity-50 h-100">
        {% if post.title == 'x' %}
        <p class="m-0 p-0 px-2 text-danger text-opacity-75">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
          </svg>
        </p>
        {% else %}
          <p class="m-0 p-0 px-2 text-dark text-opacity-50">
            {% if post.display %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill mb-1" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill mb-1 text-warning text-opacity-75" viewBox="0 0 16 16">
              <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
              <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
            </svg>
            {% endif %}
            <a class="text-decoration-none ps-1" href="{% url 'post' cookie_language post.url %}">{{ post.title }}</a>
          </p>
        {% endif %}
      </div>

      </div>
    {% endfor %}
    </div>
    {% endfor %}
<!-- Posts end -->

<!-- Colors -->
{% elif path == 'colors' %}
  <h1 class="text-center">Colors</h1>
  <div class="w-75 mx-auto">
    <form action="{% url 'settings' cookie_language 'colors' %}"
        method="post" enctype="multipart/form-data">{% csrf_token %}

        <div class="container text-center">
          <div class="row">

            <h2 class="text-start mt-4">Header</h2>

            <div class="col">
              <label for="nav_top_bg">background</label>
              <div class="mx-auto" style="width: 50px;">
                <input type="color" class="form-control" id="nav_top_bg" name="nav_top_bg" value="{{ style.nav_top_bg }}">
              </div>
              <small class="text-dark text-opacity-50">{{ style.nav_top_bg|upper }}</small>
            </div>

            <div class="col">
              <label for="nav_top_fg">text</label>
              <div class="mx-auto" style="width: 50px;">
                <input type="color" class="form-control" id="nav_top_fg" name="nav_top_fg" value="{{ style.nav_top_fg }}">
              </div>
              <small class="text-dark text-opacity-50">{{ style.nav_top_fg|upper }}</small>
            </div>

            <div class="col">
              <label for="nav_top_fg_hover">text hover</label>
              <div class="mx-auto" style="width: 50px;">
                <input type="color" class="form-control" id="nav_top_fg_hover" name="nav_top_fg_hover" value="{{ style.nav_top_fg_hover }}">
              </div>
              <small class="text-dark text-opacity-50">{{ style.nav_top_fg_hover|upper }}</small>
            </div>

            <div class="text-dark text-opacity-50 mt-4"><hr></div>
            <h2 class="text-start">Menu</h2>

            <div class="col">
              <label for="nav_bottom_bg">background</label>
              <div class="mx-auto" style="width: 50px;">
                <input type="color" class="form-control" id="nav_bottom_bg" name="nav_bottom_bg" value="{{ style.nav_bottom_bg }}">
              </div>
              <small class="text-dark text-opacity-50">{{ style.nav_bottom_bg|upper }}</small>
            </div>

            <div class="col">
              <label for="nav_items_fg">text</label>
              <div class="mx-auto" style="width: 50px;">
                <input type="color" class="form-control" id="nav_items_fg" name="nav_items_fg" value="{{ style.nav_items_fg }}">
              </div>
              <small class="text-dark text-opacity-50">{{ style.nav_items_fg|upper }}</small>
            </div>

            <div class="col">
              <label for="nav_items_fg_hover">text hover</label>
              <div class="mx-auto" style="width: 50px;">
                <input type="color" class="form-control" id="nav_items_fg_hover" name="nav_items_fg_hover" value="{{ style.nav_items_fg_hover }}">
              </div>
              <small class="text-dark text-opacity-50">{{ style.nav_items_fg_hover|upper }}</small>
            </div>

            <!-- <div class="text-dark text-opacity-50 mt-4"><hr></div>
            <h2 class="text-start">Page</h2>

            <div class="col">
              <label for="body_fg">text</label>
              <div class="mx-auto" style="width: 50px;">
                <input type="color" class="form-control" id="body_fg" name="body_fg" value="{{ style.body_fg }}">
              </div>
            </div>

            <div class="col"></div> <div class="col"></div> -->
            <div class="text-dark text-opacity-50 m-0 mt-4"><hr></div>

          </div>
        </div>

      <div class="mb-5 mx-2 d-flex align-items-end flex-column">
        <button type="submit" name="settings_colors" class="btn btn-outline-dark btn-sm border border-1 border-dark border-opacity-25">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
          </svg> Save
        </button>
      </div>
      
    </form>
    
  </div>
<!-- Colors end -->

{% endif %}
</div>

{% include '_footer.html'%}
{% endblock %}
