{% load replace %}
{% if nav_item.warning == 'translate' %}
<a type="button" class="btn btn-dark btn-sm border-0 opacity-75 m-0 p-0 ps-1 d-print-none" data-bs-toggle="modal" data-bs-target="#{{ nav_item.id }}"><span class="text-danger">{{ icon.warning|replace:'class="|class="my-2 '|safe }}</span>{{ icon.edit|safe }}</a>
</a>
{% elif not nav_item.display or nav_item.warning_id_exists %}
<a type="button" class="btn btn-dark btn-sm border-0 opacity-75 m-0 p-0 ps-1 d-print-none" data-bs-toggle="modal" data-bs-target="#{{ nav_item.id }}"><span class="text-warning">{{ icon.warning|replace:'class="|class="my-2 '|safe }}</span>{{ icon.edit|safe }}</a>
{% else %}
<a type="button" class="btn btn-dark btn-sm border-0 pt-1 pb-2 ps-2 opacity-75 d-print-none" data-bs-toggle="modal" data-bs-target="#{{ nav_item.id }}">{{ icon.edit|safe }}</a>
{% endif %}
