{% load replace %}
<div class="modal fade text-start" data-bs-theme="dark" id="navItem{{ nav_item.id }}ModeModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="navItem{{ nav_item.id }}ModeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-light">

        <button class="btn btn-outline-light btn-sm border" data-bs-target="#{{ nav_item.id }}" data-bs-toggle="modal">
          {{ icon.arrow_left|safe }} &nbsp;Back
        </button>
        <form action="{% url 'category' cookie_language path %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="mx-2 my-0 mt-1 p-0">
          {% if nav_item.code == 'item' %}

          <p class="text-light text-opacity-50 p-0 m-0 mb-2">
          <small><small>
          The <u><b>ID</b></u> <span class="bg-light bg-opacity-10 rounded-1">&nbsp;item&nbsp;</span> is reserved and not visible to the user.
          Rename it!
          </small></small>
          </p>
          {% else %}

          <p class="p-0 m-0">
            {{ icon.grid|replace:'class="|class="mb-1 '|safe }} Mode<small class="text-light text-opacity-50"><small>&nbsp;({{ nav_item.code }})</small></small>
          </p>

          <div class="m-0 mt-4 p-0"></div>
          <h6>Choose page mode</h6>

          <div class="position-relative m-0 d-print-none">
            <div class="form-check m-0 me-1 mt-2">
              <small><small>
              <input class="form-check-input" type="radio" name="nav-item-local-type" id="list" value="list" {% if nav_item.local_type == 'list' %}checked{% endif %}>
              <label class="form-check-label" for="list">
                Posts<br>
                <small class="p-0 m-0 text-light text-opacity-75">
                  Displays all posts tagged with this category
                </small>
              </label>
              </small></small>
            </div>
            <div class="form-check m-0 me-1 mt-2">
              <small><small>
              <input class="form-check-input" type="radio" name="nav-item-local-type" id="grid" value="grid" {% if nav_item.local_type == 'grid' %}checked{% endif %}>
              <label class="form-check-label" for="grid">
                Sub categories<br>
                <small class="p-0 m-0 text-light text-opacity-75">
                  Page with option to create subcategories
                </small>
              </label>
              </small></small>
            </div>
            <div class="form-check m-0 me-1 mt-2">
              <small><small>
              <input class="form-check-input" type="radio" name="nav-item-local-type" id="content" value="content" {% if nav_item.local_type == 'content' %}checked{% endif %}>
              <label class="form-check-label" for="content">
                Text content<br>
                <small class="p-0 m-0 text-light text-opacity-75">
                  Page with option to upload an HTML file with the content to be displayed
                </small>
              </label>
              </small></small>
            </div>

          </div>
          {% endif %}
        </div>

        <div class="d-grid gap-2 d-flex justify-content-end mt-3">
        <button type="button" class="btn btn-outline-danger btn-sm border border-0" data-bs-dismiss="modal" aria-label="Close">
          {{ icon.close|safe }}
        </button>

        <input type="hidden" name="category-name" value="{{ nav_item.code }}">
        <input type="hidden" name="nav-item-id" value="{{ nav_item.id }}">
        <button type="submit" name="nav-item-translate" class="btn btn-outline-light btn-sm border border-0">
          {{ icon.ok|safe }}
        </button>
        </div>
        </form>

      </div>
    </div>
  </div>
</div>
